body {
  padding-bottom: 50px;
}

a {
  color: #b82e80;
}

a:hover {
  color: #b82e80;
}

h1 {
  color: #b82e80;
  text-align: center;
}

footer {
  background-color: #b82e80;
  color: white;
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.brand-image {
  width: 100px;
  margin-top: -3px;
}

.food-picture {
  height: 80px;
}

.center {
  text-align: center;
}

.navbar-brand {
  font-size: 14px;
}

.food-input label {
  margin-right: 10px;
}

.pink {
  color: #b82e80;
  font-weight: bold;
}
